doctype html
html(lang="en")
  head
    title Taylorview Stake Trek 2015
    link(rel="stylesheet" type="text/css" href="css/reset.css")
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    header
      .logo
